{
  "parser": "babel-eslint",
  "rules": {
    "strict": 0,
    "quotes": [1, "single"],
    "no-multi-spaces": 0,
    "no-unexpected-multiline": 0,
    "curly": 0,
    "consistent-return": 0,
    "no-underscore-dangle": 0,
    "no-console":0
  },
  "env": {
    "browser": true,
    "node": false
  },
  "globals": {
  }
}
